/* The CSS for the header in mobile devices where width < 576px */

#logo.mobile {
    width: 50%;
}

#logo.mobile>a {
    font-size: 14px;
}

#search.mobile-search {
    width: 50%;
}

#search.mobile-search i {
    left: 15px;
}

#search.mobile-search>input {
    width: 90%;
}

/* Style The Dropdown Button */

.dropbtn {
    color: #E5E5E5;
    background-color: #363636;
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    background: #363636;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    left: 5px;
    top: 50px;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */

.dropdown-content a {
    color: #E5E5E5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* show deopdown content */

.show-menu-button {
    display: block;
}